@import 'reset';
@import 'header/index';
@import 'footer/index';
@import 'auth/index';
@import 'profile/index';
@import 'popup';

@font-face {
  font-family: Larsseit;
  src: url('../fonts/Larsseit.ttf');
}

body {
  background-color: #f9f9f9;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

input:disabled {
  background: #e4e4e4 !important;
}


